mixin pagination(pagination)
    nav
        ul(class="pagination")

            if(pagination.currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link" 
                        button-pagination=pagination.currentPage - 1
                    ) Trước

            - let start = Math.max(1, pagination.currentPage - 1);
            - let end = Math.min(pagination.totalPage, start + 2);
            - if(end - start < 2)
                - start = Math.max(1, end - 2);

            - for (let i = start; i <= end; i++)
                li(class=`page-item ${pagination.currentPage == i ? "active" : ""}`)
                    button(
                        class="page-link"
                        button-pagination=i
                    ) #{i}

            if(pagination.currentPage < pagination.totalPage)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=pagination.currentPage + 1
                    ) Sau